<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
</head>
<body>
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
        <div class="snowflake">
          <div class="inner">🌸</div>
        </div>
      </div>
      
    <header>
        {% include "partials/header.html" %}
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        {% include "partials/footer.html" %}
    </footer>
</body>
</html>